.container {
  height: 160px;
  max-height: 160px;
}

.image {
  border: 1px solid #e7ebf1;
  box-sizing: border-box;
  border-radius: 4px;

  object-fit: fill;
  height: 160px;
  max-height: 160px;
}

@media screen and (min-width: 40em) {
  .container {
    height: 256px;
    max-height: 256px;
  }

  .image {
    border-radius: 8px;
    box-sizing: border-box;

    height: 256px;
    max-height: 256px;
  }
}
