.bannerContainer {
  height: 160px;
}

.background {
  background: linear-gradient(104.18deg, #FFFFFF 33.68%, rgba(255, 255, 255, 0) 63.34%);
}

.image {
  object-fit: fill;
  height: 160px;
  max-height: 160px;
}

.title {
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;

  margin-bottom: 20px;
}

.button {
  background: #ffffff;
  border-radius: 4px;
  width: fit-content;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;

  text-align: center;
  letter-spacing: 0.02em;
}

.button > a {
  color: #0067c7;
}

@media screen and (min-width: 40em) {
  .bannerContainer {
    height: 256px;
  }

  .image {
    height: 256px;
    max-height: 256px;
  }

  .button {
    font-size: 16px;  
  }
}