.sliderLayoutContainer {}

.sliderArrows {
  color: #FFFFFF;
  width: 48px;
  height: 48px;
  background: rgba(0, 0, 0, 0.32) !important;
  border-radius: 50%;
  display: none;
}

.paginationDotsContainer {
  background-color: #FFFFFF;
  border-radius: 40px;
  bottom: 1em;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.16);
  width: fit-content;
}

.paginationDot {
  height: 8px !important;
  width: 8px !important;
}

@media screen and (min-width: 104em) {
  .sliderArrows {
    /* 4em is the content margin. This calc deals with 104em+ screens */
    margin: 0 calc(4em + (100% - 104em) / 2);
  }
}

@media (hover: hover) { 
  .sliderLayoutContainer:hover .sliderArrows {
    display: flex;
  }
}