.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.container {
  background-color: #F3F9FF;
}

@media (max-width: 60em) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 40em) {
  .grid {
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }

  .container {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}
