.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.categoryImage {
  mix-blend-mode: darken;
}

@media (max-width: 60em) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


@media (max-width: 40em) {
  .grid {
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }
}
