.bannerContainer {
  height: 328px;
  max-height: 328px;
}

/* Info Container */
.bannerInfoContainer {
  padding-bottom: 43px;
  padding-left: 29px;
  padding-right: 29px;
  padding-top: 43px;
}

.bannerTitle {
  color: #FFFFFF;
  font-size: 40px;
  line-height: 48px;
}

.bannerSubtitle {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
}

.bannerButton {
  background-color: #FFFFFF;
  color: #0067C7;
}

.bannerBlue {
  background-color: #3296F2;
}

.bannerRed {
  background-color: #F04F58;
}

.bannerYellow {
  background-color: #F0AF08;
}

/* Image Container */
.bannerImageContainer {}

/* Desktop breakpoint */
@media screen and (min-width: 40em) {
  .bannerInfoContainer {
    padding-bottom: 82px;
    padding-left: 216px;
    padding-right: 216px;
    padding-top: 82px;
  }

  .bannerImageContainer {
    padding-right: 197px;
  }
}