.bannerContainer {
  height: 328px;
  max-height: 328px;
}

/* Info Container */
.bannerInfoContainer {
  margin-left: 4em;
  margin-right: 4em;
  padding-left: 1em;
  padding-right: 1em; 
}

.bannerTitle {
  color: #FFFFFF;
  font-size: 28pt;
}

.bannerSubtitle {
  color: #FFFFFF;
  font-size: 12pt;
  margin-bottom: 12px;
}

.bannerButtonContainer {
  margin-top: 20px;
}

.bannerButton {
  background-color: #FFFFFF;
  color: #0067C7;
  font-size: 14pt;
}

.bannerBlue {
  background-color: #3296F2;
}

.bannerRed {
  background-color: #F04F58;
}

.bannerYellow {
  background-color: #F0AF08;
}

/* Image Container */
.bannerImageContainer {
  margin-right: 4em;
  padding-right: 1em; 
}

/* -s */
@media screen and (min-width: 20em) {
  .bannerInfoContainer {
    /* 4em from arrows size and margin */
    margin-left: 4em;
    margin-right: 4em;
    padding-left: 1em;
    padding-right: 1em; 
  }

  .bannerImageContainer {
    /* 4em from arrows size and margin */
    margin-right: 4em;
    padding-right: 1em; 
  }
}

/* -ns breakpoints */
@media screen and (min-width: 40em) {
  .bannerInfoContainer {
    /* 4.5em from arrows size and margin */
    margin-left: 4.5em;
    margin-right: 4.5em;
    padding-left: 2em;
    padding-right: 2em; 
  }

  .bannerImageContainer {
    /* 4.5em from arrows size and margin */
    margin-right: 4.5em;
    padding-right: 2em;
  }
}

@media screen and (min-width: 64em) {
  .bannerInfoContainer {
    /* 6em from arrows size and margin */
    margin-left: 6em;
    margin-right: 6em;
    padding-left: 4em;
    padding-right: 4em; 
  }

  .bannerImageContainer {
    /* 6em from arrows size and margin */
    margin-right: 6em;
    padding-right: 4em;
  }
}

@media screen and (min-width: 80em) {
  /*  8em padd */
  .bannerInfoContainer {
    /* 7em from arrows size and margin. calc to add margin till the left and right arrow */
    margin-left: calc(7em + (100% - 80em) / 2);
    margin-right: calc(7em + (100% - 80em) / 2);
    padding-left: 8em;
    padding-right: 8em;
  }

  .bannerImageContainer {
    /* 7em from arrows size and margin. calc to add margin till the left and right arrow */
    margin-right: calc(7em + (100% - 80em) / 2);
    padding-right: 8em;
  }
}

/* non touch breakpoints */
@media (hover: none) {
  .bannerInfoContainer {
    margin-left: 0;
    margin-right: 0;
  }

  .bannerImageContainer {
    margin-right: 0;
  }
}

@media (hover: none) and (min-width: 80em) {
  .bannerInfoContainer {
    margin-left: calc((100% - 80em) / 2);
    margin-right: calc((100% - 80em) / 2);
  }

  .bannerImageContainer {
    margin-right: calc((100% - 80em) / 2);
  }
}