@media screen and (min-width: 104em) {
  .containerPadding {
    /* 4em is the content margin. This calc deals with 104em+ screens */
    padding-left: calc(4em + (100% - 104em) / 2);
    padding-right: calc(4em + (100% - 104em) / 2);;
  }

  .containerMargin {
    margin-left: calc(4em + (100% - 104em) / 2);
    margin-right: calc(4em + (100% - 104em) / 2);
  }
}